@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro&family=Poppins:wght@300;400&display=swap');

:root {
/* CSS HEX */
--purple-navy: #4e598cff;
--beau-blue: #c5d5eaff;
--dark-jungle-green: #041b15ff;
}

*, *::before, *::after {
    box-sizing: border-box;
}


html,
body {
    max-width: 100%;
    min-height: 100vh;
    overflow: auto;
}

body {
    background-color: var(--purple-navy);
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    overflow: auto;
}

main {
    width: 100%;
    height: 100%;
    margin: 50px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.all-bodies {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    width: 100%;
    height: 100%;
}

.round-winner-container {
    background-color: var(--beau-blue);
    width: 100%;
    height: 50px;
    border-radius: 10px 10px 0px 0px;
    border-bottom: solid whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, .5);
    font-family: 'Kantumruy Pro', sans-serif;
    font-weight: bold;
}


.selection {
    background-color: var(--beau-blue);
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 25px 0px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, .5);
}

.selector-container {
    width: 100px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rock,
.paper,
.scissors {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 200px;
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 10px;
    border: none;
    --border-size: 4px;
}

.rock::before,
.paper::before,
.scissors::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border: var(--border-size) solid black;
    border-radius: 10px;
    transition: top, left, right, bottom, 100ms ease-in-out;
}

.scissors:hover:before,
.scissors:focus:before,
.paper:hover:before,
.paper:focus:before,
.rock:hover:before,
.rock:focus:before {
    z-index: 0;
    top: calc(var(--border-size) * -2);
    left: calc(var(--border-size) * -2);
    right: calc(var(--border-size) * -2);
    bottom: calc(var(--border-size) * -2);
}

img {
    width: 100px;
}

.result-container {
    background-color: var(--beau-blue);
    width: 100%;
    height: 60px;
    border-radius: 0px 0px 10px 10px;
    border-top: solid whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, .4);
    text-align: center;
    font-family: 'Kantumruy Pro', sans-serif;
    font-size: 18px;
}

.modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    gap: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    background-color: #FEF5EF;
    width: 800px;
    max-width: 70%;
    height: 250px;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

.modal-container.active {
    transform: translate(-50%, -50%) scale(1);
    
}

.overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    transition: 200ms ease-in-out;
    pointer-events: none;
}

.active.overlay {
    opacity: 1;
    pointer-events: all;
}

.play-again {
    width: 150px;
    height: 60px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color: #040f13;
    color: whitesmoke;
    border: none;
}

footer {
    background-color: whitesmoke;
    width: 100%;
    height: 130px;
    display: flex;
    gap: 10px;
    border-radius: 5px 5px 0px 0px;
}

.footer-content-container {
    display: flex;
    flex-direction: row;
}

.github-icon {
    width: 50px;
}

.left-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-right: 1px solid black;
}

.right-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: small;
    padding: 10px;
    gap: 5px;
    text-align: center;
    font-family: 'Kantumruy Pro', sans-serif;
}

a {
    text-decoration: none;
    color: #040f13;
}

a:visited {
    color: #040f13;
}
